#outer{
    height: 250px;
    width: 600px;
    border: 1px solid black;
}
#inner{
    height:150px;
    width: 500px;
    border: 1px solid black;
    margin: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.child{
    height: 100px;
    width: 50px;
    background-color: tan;
}
#box{
    height: 500px;
    width: 500px;
    background-color: yellow;
    overflow: auto;
}
.inner{
    height: 250px;
    width: 1000px;
    background-color: green;
}
#lorem{
    height: 400px;
    width: 400px;
    margin: 400px;
    background-color: rgb(192, 191, 191);
}
#hi{
    padding: 20px;
}